.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    padding-top: 3%;
}
.container .container-header{
    width: 40vw;
    height: 70%;
    background-color: #D9D9D94D;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4%;
}
.container .container-header .time-header{
    color: #3A86FF;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .container-header .time-header #bus-time{
    font-weight: 900;
}
.container .container-header .location-label{
    background-color: #00B4D8;
    color: white;
    border-radius: 5px;
    padding: 10px 50px;
}
.container img{
    width: 30vw;
}

@media screen and (max-width: 768px) {
    .container {
        height: auto;
        padding: 5%;
        gap: 15vh;
    }

    .container .container-header {
        width: 90vw;
        height: auto;
        display: flex;
        gap: 2vh;
        padding: 10% 0;
    }

    .container img {
        width: 80%;
        max-width: 300px;
    }
}